# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>List popular libraries</li>
<li>Arithmetic expression examples</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
<ul>
<li>Pandas</li>
<li>Keras</li>
<li>NumPy</li>
</ul>



<table style="width:20%">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>R</td>
  </tr>
  <tr>
    <td>JupyterLab</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Berfin Kılınç